<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    
    <h2>Modification du profil</h2>
    
    </br>{{ form_widget(form.username, { 'attr': {'placeholder': 'Pseudo'} }) }}
    {{ form_errors(form.username) }}
    
    </br></br>{{ form_widget(form.email, { 'attr': {'placeholder': 'Adresse Email'} }) }}
    {{ form_errors(form.email) }}
    
    </br></br>{{ form_widget(form.first_name, { 'attr': {'placeholder': 'Prénom'} }) }}
    {{ form_errors(form.first_name) }}
    
    </br></br>{{ form_widget(form.last_name, { 'attr': {'placeholder': 'Nom'} }) }}
    {{ form_errors(form.last_name) }}
    
    </br></br>{{ form_widget(form.career, { 'attr': {'placeholder': 'Parcours Professionnel'} }) }}
    {{ form_errors(form.career) }}
    
    </br></br>{{ form_widget(form.birthdate, { 'attr': {'placeholder': 'Date de Naissance', 'class': 'flatpickr'} }) }}
    {{ form_errors(form.birthdate) }}
    
    </br></br>{{ form_widget(form.address, { 'attr': {'placeholder': 'Adresse'} }) }}
    {{ form_errors(form.address) }}
    
    </br></br>{{ form_widget(form.city, { 'attr': {'placeholder': 'Commune'} }) }}
    {{ form_errors(form.city) }}
    
    </br></br>{{ form_widget(form.postal_code, { 'attr': {'placeholder': 'Code Postal'} }) }}
    {{ form_errors(form.postal_code) }}
    
    </br></br>{{ form_widget(form.phone, { 'attr': {'placeholder': 'N° de Téléphone'} }) }}
    {{ form_errors(form.phone) }}
    
    </br></br>{{ form_widget(form.current_password, { 'attr': {'placeholder': 'Mot de Passe Actuel'} }) }}
    {{ form_errors(form.current_password) }}
    
    </br>{{ form_widget(form) }}
    
    <div>
        </br></br><input type="submit" id="_submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
