<div class="fos_user_user_show">
    
    <h2>Profil</h2>
    
    </br><p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    <p>Prénom : {{ user.firstName }}</p>
    <p>Nom : {{ user.lastName }}</p>
    <p>Parcours professionnel : {{ user.career }}</p>
    <p>Date de naissance : {{ user.birthdate|date('d/m/Y') }}</p>
    <p>Adresse : {{ user.address }}</p>
    <p>Commune : {{ user.city }}</p>
    <p>Code Postal : {{ user.postalCode }}</p>
    <p>N° de téléphone : {{ user.phone }}</p>
    <a class="link" href="{{ path('fos_user_profile_edit') }}">Modifier le profil</a>
    
    </br><a class="link" href="{{ path('fos_user_change_password') }}">Changer le mot de passe</a>
</div>
