<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    
    <h2>Changement de mot de passe</h2>
    
    </br></br>{{ form_widget(form.current_password, { 'attr': {'placeholder': 'Mot de passe actuel'} }) }}
    {{ form_errors(form.current_password) }}
    
    </br></br>{{ form_widget(form.new.first, { 'attr': {'placeholder': 'Nouveau mot de passe'} }) }}
    {{ form_errors(form.new.first) }}
    
    </br></br>{{ form_widget(form.new.second, { 'attr': {'placeholder': 'Confirmation du mot de passe'} }) }}
    {{ form_errors(form.new.second) }}
    
    </br>{{ form_widget(form) }}
    
    <div>
        </br></br><input type="submit" id="_submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
