{% extends 'WikimapMainBundle::layout.html.twig' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
    <h2>Connexion</h2>

    </br><input type="text" id="username" name="_username" class="form-control" placeholder="Votre pseudo ou email" value="{{ last_username }}" required="required" />

    </br></br><input type="password" id="password" name="_password" class="form-control" placeholder="Votre mot de passe" required="required" />

    </br></br><input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    
    </br></br><a class="link" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a>

    </br><input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    
</form>
    
</br><a class="link" href="{{ path('fos_user_registration_register') }}">Pas encore inscrit? Inscrivez-vous ici!</a>
{% endblock fos_user_content %}